
.add_button {
    width: 70px;
    // height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333; /* Pomarańczowe tło */
    color: lime; /* Jasny tekst */
    border: 1px solid #ff6a00; /* Ciemniejsza pomarańczowa obwódka */
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    transition:  0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Delikatny cień */
  }
  
  /* Efekt hover - ciemniejsze tło pomarańczowe */
  .add_button:hover {
    border-color: #ffab40; /* Jaśniejszy pomarańczowy akcent na focus */
    box-shadow: 0 0 10px rgba(255, 171, 64, 0.5);
  }

  
  /* Stan aktywności przycisku */
  .add_button:active {
    transform: translateY(0); /* Powrót przycisku do miejsca po kliknięciu */
    background-color: #ff6a00;
  }
  
  