* {
  margin: 0; /* Resetuje marginesy dla wszystkich elementów */
  padding: 0; /* Resetuje padding dla wszystkich elementów */
  box-sizing: border-box; /* Umożliwia łatwiejsze zarządzanie szerokością i wysokością */
}

html,
body {
  height: 100%;
  background-color: black;
  border: 1px solid red;
  #root{
    height: 100%;
    padding: 20px;
  }
}

